<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
        
        function greeting() {
            let id = document.getElementById("id").value;
            if(id || id != "") {
                location.href='/greeting?id=' + id;
            } else {
                location.href='/greeting';
            }
        }
    </script>
</head>
<body>
    <p><h1></h1>Get your greeting</h1></p>
    <input type="text" id="id" />
    <input type="button" value="greeting" onClick="greeting()" />
</body>
</html>