<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
        
        function greeting() {
            let lang = document.getElementById("lang").value;
            if(lang || lang != "") {
                location.href='/greeting?lang=' + lang;
            } else {
                location.href='/greeting';
            }
        }
    </script>
</head>
<body>
    <p>
        <h1></h1>Get your greeting</h1>
        <input type="text" id="lang" />
        <input type="button" value="greeting" onClick="greeting()" />
    </P>
    <p>
        <a href="/init">init</a>
    </p>
</body>
</html>